.navBar{
  background-color: rgb(144, 50, 231);
  padding: 20px;
  color: aliceblue;
}
.form{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.card{
  display: flex;
  justify-content: center;
}